

body{
background:lightyellow;
}






.container{
width:110px;
margin-left:50px;

}

.hbd {
background:yellow;
width:300px;
max-height:25px;
margin-left:-5px;
overflow:hidden;
padding:5px;
margin-top:10px;
}
.hbd:nth-child(2) {
background:lightgreen;
}
.hbd:last-child{
background:lightblue;
}